In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
import matplotlib.pyplot as plt
import math

In [3]:
####Function f(c) of which one wants to find zero point
def funx(c):
    
    f = (np.sqrt(2*c) * ((2 + c) / 2)) - 12
    return f

In [ ]:
# Finding a plausible starting interval [a,b]
test_range = np.arange(1,10)   
fx = [funx(i) for i in test_range]

plt.plot(test_range, fx)
zero = np.zeros(len(fx))
plt.plot(test_range, zero, linestyle = '-')

In [5]:
#Bisection Algo
a = min(test_range)
b = 1 + max(test_range)
c = (a + b)/2
fx_start = funx(c)

level = 0.000001#Precission Decimals
#1st step
arr = np.array([a,b,c,fx_start]); vals = len(arr)

#Iterations until desired level reached
while abs(fx_start) > level:
    
    if fx_start > 0:
        
        b = c
    
    else:
        
        a = c
    
    c = (a + b)/2
    fx_start = funx(c)
    #n += 1
    add = np.array([a,b,c,fx_start])
    arr = np.concatenate((arr,add))

arr = np.reshape(arr, (int(len(arr)/vals), vals))       
results = pd.DataFrame(arr)
names = ['a','b','c','f(c_n)']
results.columns = names
results

           a          b         c        f(c_n)
0   1.000000  10.000000  5.500000  4.373430e-01
1   1.000000   5.500000  3.250000 -5.307537e+00
2   3.250000   5.500000  4.375000 -2.571248e+00
3   4.375000   5.500000  4.937500 -1.099622e+00
4   4.937500   5.500000  5.218750 -3.391489e-01
5   5.218750   5.500000  5.359375  4.711368e-02
6   5.218750   5.359375  5.289062 -1.465158e-01
7   5.289062   5.359375  5.324219 -4.982530e-02
8   5.324219   5.359375  5.341797 -1.386839e-03
9   5.341797   5.359375  5.350586  2.285567e-02
10  5.341797   5.350586  5.346191  1.073247e-02
11  5.341797   5.346191  5.343994  4.672333e-03
12  5.341797   5.343994  5.342896  1.642626e-03
13  5.341797   5.342896  5.342346  1.278628e-04
14  5.341797   5.342346  5.342072 -6.294959e-04
15  5.342072   5.342346  5.342209 -2.508185e-04
16  5.342209   5.342346  5.342278 -6.147834e-05
17  5.342278   5.342346  5.342312  3.319209e-05
18  5.342278   5.342312  5.342295 -1.414316e-05
19  5.342295   5.342312  5.342303  9.524458e-06
20  5.342295   5.342303  5.342299 -2.309351e-06
21  5.342299   5.342303  5.342301  3.607553e-06
22  5.342299   5.342301  5.342300  6.491010e-07

3.248268203748239e-06